.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding: 10px;
}

.logonav {
    width : 150px;
    height : 100px;
    padding: 1rem;
}

.menu {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 5rem;
}

.item {
    display: flex;
    padding: 1rem;
    list-style: none;
}

.img-cart {
    display: flex;
    width: 100px;
    height: 100px;
}
